option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    # Add other environment variables needed by your app
    ETHERSCAN_API_KEY: "RZ69Y535YV75X98JVHYTAZBF6KAZBDSUQX"
    FUSDC_CONTRACT_ADDRESS: "0x5F0AfDa16217dB4F9077b7c6666E24B20963788C"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
